	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Java Development</title>
	<link media="all" rel="stylesheet" type="text/css" href="../css/main.css" />
	<!--[if lt IE 9]><link media="screen" rel="stylesheet" type="text/css" href="../css/ie.css" /><![endif]-->